<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
         
<div class="row g-3">
    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

        <label for="" class="form-label"><h5><b>COUNTRY</b></h5></label>
        <select name="" id="" class="form-control">
            <option value="Russia">Russia</option>
            <option value="Canada">Canada</option>
            <option value="United States">United States</option>
            <option value="China">China</option>
            <option value="Brazil">Brazil</option>
            <option value="Australia">Australia</option>
            <option value="India">India</option>
            <option value="Argentina">Argentina</option>
            <option value="Kazakhstan">Kazakhstan</option>
            <option value="Algeria">Algeria</option>
        </select>

    </div>
    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
<button class="btn btn-primary"><b>SEARCH</b></button>
    </div>
</div>
                    
               
        </div>
    </div>
</div>

